<mat-card>

    <div class="form-group">
        <mat-radio-group [(ngModel)]="selectedNumberSet" (change)="onChange($event.value)">
            <div class="checkbox-container">

                <div class="checkbox-row">
                    <div class="checkbox-item">
                        <mat-radio-button [value]="2">2</mat-radio-button>
                    </div>
                    <div class="checkbox-item">
                        <mat-radio-button [value]="3">3</mat-radio-button>
                    </div>
                    <div class="checkbox-item">
                        <mat-radio-button [value]="4">4</mat-radio-button>
                    </div>

                </div>

                <div class="checkbox-row">
                    <div class="checkbox-item">
                        <mat-radio-button [value]="5">5</mat-radio-button>
                    </div>
                    <div class="checkbox-item">
                        <mat-radio-button [value]="6">6</mat-radio-button>
                    </div>
                    <div class="checkbox-item">
                        <mat-radio-button [value]="7">7</mat-radio-button>
                    </div>

                </div>

                <div class="checkbox-row">
                    <div class="checkbox-item">
                        <mat-radio-button [value]="8">8</mat-radio-button>
                    </div>
                    <div class="checkbox-item">
                        <mat-radio-button [value]="9">9</mat-radio-button>
                    </div>
                    <div class="checkbox-item">
                        <mat-radio-button [value]="10">10</mat-radio-button>
                    </div>

                </div>

                <div class="checkbox-row">
                    <div class="checkbox-item">
                        <mat-radio-button [value]="11">11</mat-radio-button>
                    </div>
                    <div class="checkbox-item">
                        <mat-radio-button [value]="12">12</mat-radio-button>
                    </div>
                    <!-- <div class="checkbox-item">
                            <mat-radio-button>1</mat-radio-button>
                        </div> -->

                </div>

            </div>
        </mat-radio-group>

    </div>

</mat-card>

<mat-card class="info-container">

    <div class="info-button-container">
        <a mat-raised-button routerLink="/about">About this app</a>
    </div>

    <!-- <div class="info-button-container">
        <a mat-raised-button href="https://developers.google.com/web/progressive-web-apps/" target="_blank">
            About Progressive Web Apps
        </a>
    </div> -->

    <div class="info-button-container" *ngIf="this.showAddToHomeScreen">
        <a color="primary" mat-raised-button (click)="addToHomeScreen()">
            <!-- <mat-icon style="height: 28px; width: 28px; margin-right: 3px;" svgIcon="github"></mat-icon> -->
            Add app to homescreen
        </a>
    </div>

</mat-card>