<mat-card>

                <mat-selection-list [(ngModel)]="selectedNumberSet" (selectionChange)="onChange($event)">

                        <div class="checkbox-container">

                                <div class="checkbox-row">
                                        <div class="checkbox-item">
                                                <mat-list-option selected="{{ this.selectedNumberSets.includes(2) }}" color="primary" class="radio-2" [value]="2"><span >2</span></mat-list-option>
                                            </div>
                                        <div class="checkbox-item">
                                                <mat-list-option selected="{{ this.selectedNumberSets.includes(3) }}" color="primary" class="radio-3" [value]="3"><span >3</span></mat-list-option>
                                        </div>
                                        <div class="checkbox-item">
                                                <mat-list-option selected="{{ this.selectedNumberSets.includes(4) }}" color="primary" class="radio-4" [value]="4"><span >4</span></mat-list-option>
                                        </div>

                                    </div>

                        </div>

                    </mat-selection-list>

        <!-- <mat-radio-group [(ngModel)]="selectedNumberSet" (change)="onChange($event.value)">
            <div class="checkbox-container">

                <div class="checkbox-row">
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-2" [value]="2">2</mat-checkbox>
                    </div>
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-3" [value]="3">3</mat-checkbox>
                    </div>
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-4" [value]="4">4</mat-checkbox>
                    </div>

                </div>

                <div class="checkbox-row">
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-5" [value]="5">5</mat-checkbox>
                    </div>
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-6" [value]="6">6</mat-checkbox>
                    </div>
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-7" [value]="7">7</mat-checkbox>
                    </div>

                </div>

                <div class="checkbox-row">
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-8" [value]="8">8</mat-checkbox>
                    </div>
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-9" [value]="9">9</mat-checkbox>
                    </div>
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-10" [value]="10">10</mat-checkbox>
                    </div>

                </div>

                <div class="checkbox-row">
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-11" [value]="11">11</mat-checkbox>
                    </div>
                    <div class="checkbox-item">
                        <mat-checkbox color="primary" class="radio-12" [value]="12">12</mat-checkbox>
                    </div>

                </div>

            </div>
        </mat-radio-group> -->

</mat-card>

<mat-card class="info-container">

    <div>
        <a mat-button routerLink="/about">About this app</a>
    </div>

    <div *ngIf="this.showAddToHomeScreen">
        <button color="primary" mat-raised-button (click)="addToHomeScreen()">
            <!-- <mat-icon style="height: 28px; width: 28px; margin-right: 3px;" svgIcon="github"></mat-icon> -->
            Install app
        </button>
    </div>

</mat-card>