<mat-card class="question-display-container">

  <div class="question-text">
    {{this.dataService.x}} x {{this.dataService.y}} =
  </div>

  <div class="answer-container">
    <span class="answer">
      {{this.dataService.answerBuffer}}
    </span>
    <span class="test-feedback-icon" [ngClass]="{'test-feedback-icon-animation-correct': this.showCorrectAnimation, 'test-feedback-icon-animation-incorrect': this.showIncorrectAnimation }"></span>
  </div>

</mat-card>

<!-- Generate keypad buttons -->
<mat-card class="keypad-container">

  <!-- Buttons 1 - 9 -->
  <div class="keypad-item" *ngFor="let number of [1,2,3,4,5,6,7,8,9]">
    <button [ngClass]="'key-'+ number" mat-raised-button color="primary" (click)="btnClick(number);">{{number}}</button>
  </div>

  <!-- Backspace button -->
  <div class="keypad-item">
    <button class="key-backspace" mat-raised-button color="primary" (click)="btnClick('del');">
      <mat-icon svgIcon="backspace"></mat-icon>
    </button>
  </div>

  <!-- 0 button -->
  <div class="keypad-item">
    <button class="key-0" mat-raised-button color="primary" (click)="btnClick(0);">0</button>
  </div>

  <!-- Enter button -->
  <div class="keypad-item">
    <button class="key-enter" mat-raised-button color="accent" (click)="btnClick('enter');">
      <mat-icon svgIcon="checkmark-outline"></mat-icon>
    </button>
  </div>

</mat-card>

<mat-card class="timer-container">

  <div class="timer-item">
    <div style="display: flex; align-content: center; justify-content: center;">
      <mat-icon style="margin-right: 7px;" svgIcon="timer"></mat-icon>
      <div class="timer-text">{{this.dataService.elapsedMilliSeconds | minuteSeconds : false : true }}</div>
    </div>
  </div>

  <div class="timer-item">
    <div class="timer-text">{{this.dataService.numberOfQuestionsComplete()}} / {{this.dataService.numberOfQuestionsTotal()}}</div>
  </div>

</mat-card>