<mat-card style="flex-direction: column; justify-content: left; text-align: left;">
  <p style="text-align: center; font-weight: 600;">Designed by an educational therapist. Built by a dad.</p>

  <p>Rote learning of times tables is out of fashion. Not everyone agrees that is good.</p>

  <p>There are countless times tables apps, but most are designed for younger children; the visual design and feedback puts older kids off.</p>

  <p>This app is designed to be straightforward with no gimmicks, but with a level of gameification to keep kids motivated.</p>
</mat-card>
