<mat-card style="flex-direction: column; justify-content: left; text-align: left;">
  <mat-card-content>
    <p style="text-align: center; font-weight: 600;">Designed by an educational therapist. Built by a dad.</p>

    <p>There are countless times tables apps, but most are designed for younger children.</p>

    <p>With an older audience in mind, this app is designed to be straightforward with no gimmicks, but with a level of gameification to keep kids motivated.</p>

    <p>Achieving a time of 60 seconds (with zero errors) suggests knowledge of that table. 30 seconds is ideal.</p>
  </mat-card-content>
</mat-card>
