
// @import "~normalize.css/normalize.css";

// Custom theme
@import '~@angular/material/theming';
@include mat-core();
@import './theme/timestables-theme.scss';

// specify theme class eg: <body class="timestables-theme"> ... </body>
.timestables-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($timestables-theme);
}


body {
  padding: 1em;
  margin: 0;
  font-family: Roboto, sans-serif;
  height: calc(100vh - 74px); // to allow for the url bar in chrome
  box-sizing: border-box;
  margin: 0 auto;
  background-color: hsla(227, 20, 92, 1);
}

@media all and (display-mode: standalone) {
  body {
    height: 100vh; // once installed, there is no url bar, so use 100vh
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-height: 1024px) {
  main {
    max-width: 700px;
  }
}

@media (min-height: 1366px) {
  main {
    max-width: 800px;
  }
}

@media (max-height: 568px) {
  .mat-raised-button {
    min-width: 76px !important;
  }
}

.mat-radio-outer-circle {
  border-radius: 0 !important;
}
.mat-radio-inner-circle {
  border-radius: 0 !important;
}

app-testcontrol {
  display: flex;
  margin: 0 0 1em 0;
}

app-testpage, app-testsetup, app-resultpage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
}

.header-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

mat-card {
  margin: 0.35em 0 0.35em 0;
  text-align: center;
  display: flex !important;
  padding: 15px !important;
}

// 2 x 2 = ?
.question-display-container {
  display: flex;
  flex-direction: row;
  height: 15%;
  // height: 3em;

  .question-display-item {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 3em;

    transition-property: border-color;
    transition-duration: 280ms;
    transition-timing-function: ease;
    transition-delay: initial;

  }
}



// @media (min-width: 375px) {
//   .content-item {
//     font-size: 4.5em;
//   }
// }

// @media (min-width: 414px) {
//   .content-item {
//     font-size: 5em;
//   }
// }

// @media (min-width: 768px) {
//   .content-item {
//     font-size: 6em;
//   }
// }

.keypad-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-grow: 1;

  .keypad-item {
    display: flex;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 0.5em;
    opacity: 0.8;
    width: 33.33333%;
    align-items: center;
    justify-content: center;
    object-fit: contain;

    button {
      width: 100%;
      height: 100%;
    }
  }
}



.timer-container {
  display: flex;
  flex-direction: row;
  height: 5%;
  // height: 0.5em;

  .timer-item {
    display: flex;
    box-sizing: border-box;
    font-size: 1.2em;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}



.material-icons {
  vertical-align: middle;
}

.timer-text {
  margin-left: 0.25em;
}
// .question-number-text {

// }


.icon-button {
  font-size: 1.25em;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}
.checkbox-row {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
}
.checkbox-item {
  display: flex;
  width: 33.333333%;
  height: 3em;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;
}


.resultpage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  width: 100%;
}