// @import "~normalize.css/normalize.css";

// Custom theme
@import "~@angular/material/theming";
@include mat-core();
@import "./theme/timestables-theme.scss";

// specify theme class eg: <body class="timestables-theme"> ... </body>
.timestables-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($timestables-theme);
}

body {
  padding: 1em;
  margin: 0;
  font-family: Roboto, sans-serif;
  height: calc(100vh - 74px); // to allow for the url bar in chrome
  box-sizing: border-box;
  margin: 0 auto;
  background-color: hsla(227, 20, 92, 1);
}

@media all and (display-mode: standalone) {
  body {
    height: 100vh; // once installed, there is no url bar, so use 100vh
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-height: 1024px) {
  main {
    max-width: 700px;
  }
}

@media (min-height: 1366px) {
  main {
    max-width: 800px;
  }
}

@media (max-height: 568px) {
  .mat-raised-button {
    min-width: 76px !important;
  }
}

.mat-radio-outer-circle {
  border-radius: 0 !important;
}
.mat-radio-inner-circle {
  border-radius: 0 !important;
}

app-testcontrol {
  display: flex;
  margin: 0 0 1em 0;
}

app-testpage,
app-testsetup,
app-resultpage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
}

.header-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

mat-card {
  margin: 0.35em 0 0.35em 0;
  text-align: center;
  display: flex !important;
  padding: 15px !important;
}

.info-container {
  background-color: hsl(233, 20, 96) !important;
  display: flex;
  flex-direction: column;
  a {
    width: 100%;
  }
  button {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px !important;
  }
}

.mat-radio-label-content {
  min-width: 20px;
}

// 2 x 2 = ?
.question-display-container {
  display: flex;
  flex-direction: row;
  height: 15%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.question-text,
.answer {
  font-size: 1.75em;
}

// .keypad-item.button {
//   font-size: 16px;
// }

.mat-raised-button .mat-button-wrapper .mat-icon {
  height: 20px;
  width: 20px;
}
.keypad-container .keypad-item .mat-raised-button {
  line-height: 20px !important;
}

.timer-container .timer-item .mat-icon {
  height: 20px;
  width: 20px;
}

.timer-text {
  align-self: center;
  font-size: 1em;
}

@media (min-width: 375px) {
  .question-text,
  .answer {
    font-size: 2em;
  }
  .mat-raised-button {
    font-size: 20px;
    line-height: 40px !important;
  }
  .mat-raised-button .mat-button-wrapper .mat-icon {
    height: 27px;
    width: 22px;
  }
  .test-feedback-icon-animation-correct:before,
  .test-feedback-icon-animation-incorrect:before {
    background-size: 26px 26px !important;
    height: 26px !important;
    width: 26px !important;
  }
  .timer-text {
    font-size: 1.1em;
  }
  .timer-container .timer-item .mat-icon {
    height: 22px;
    width: 22px;
  }
}

@media (min-width: 414px) {
  .question-text,
  .answer {
    font-size: 2.5em;
  }
  .mat-raised-button {
    font-size: 22px;
    line-height: 44px !important;
  }
  .mat-raised-button .mat-button-wrapper .mat-icon {
    height: 30px;
    width: 28px;
  }
  .test-feedback-icon-animation-correct:before,
  .test-feedback-icon-animation-incorrect:before {
    background-size: 28px 28px !important;
    height: 28px !important;
    width: 28px !important;
  }
  .timer-text {
    font-size: 1.2em;
  }
  .timer-container .timer-item .mat-icon {
    height: 24px;
    width: 24px;
  }
}

@media (min-width: 768px) {
  .question-text,
  .answer {
    font-size: 3.5em;
  }
  .mat-raised-button .mat-button-wrapper .mat-icon {
    height: 30px;
    width: 28px;
  }
  .test-feedback-icon-animation-correct:before,
  .test-feedback-icon-animation-incorrect:before {
    background-size: 36px 36px !important;
    height: 36px !important;
    width: 36px !important;
  }
  .timer-text {
    font-size: 1.5em;
  }
  .timer-container .timer-item .mat-icon {
    height: 30px;
    width: 30px;
  }
}

.keypad-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-grow: 1;

  .keypad-item {
    display: flex;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 0.5em;
    opacity: 0.8;
    width: 33.33333%;
    align-items: center;
    justify-content: center;
    object-fit: contain;

    button {
      width: 100%;
      height: 100%;
    }
  }
}

.timer-container {
  display: flex;
  flex-direction: row;
  height: 7.5%;

  .timer-item {
    display: flex;
    box-sizing: border-box;
    font-size: 1.2em;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}

.material-icons {
  vertical-align: middle;
}

.timer-text {
  margin-left: 0.25em;
}

.icon-button {
  font-size: 1.25em;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}
.checkbox-row {
  display: flex;
  flex-direction: row;
  // margin-left: 2em;
}
.checkbox-item {
  display: flex;
  width: 33.333333%;
  height: 3em;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.resultpage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  width: 100%;
}

.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #dcdada;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.answer-container {
  width: 40%;
  text-align: center;
  .answer {
    // font-size: 32px;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    display: inline-block;
  }

  // Feedback icon animation
  .test-feedback-icon {
    // font-size: 30px;
    // -webkit-transition:0.60s ease;
    transition: 0.6s ease;
    display: inline-block;
    opacity: 1;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

  .test-feedback-icon-animation-base {
    opacity: 0;
    // -webkit-transform: scale(2);
    transform: scale(2);
  }

  .test-feedback-icon-animation-correct {
    @extend .test-feedback-icon-animation-base;
  }
  .test-feedback-icon-animation-correct:before {
    // content: "\2713";
    display: block;
    content: " ";
    background-image: url("./assets/checkmark.svg");
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
  }

  .test-feedback-icon-animation-incorrect {
    @extend .test-feedback-icon-animation-base;
  }
  .test-feedback-icon-animation-incorrect:before {
    // content: "\274c";
    display: block;
    content: " ";
    background-image: url("./assets/close.svg");
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
  }
}
